<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por pais</h2>
    <hr>
    
    <div class="row">
        <div class="col">
            <!-- Se manda a llamar buscar en por pais component -->
            <app-pais-input        
                (onEnter)="buscar($event)"        
                (onDebounce)="sugerencias($event)" 
                placeholder="Buscar país..."       
            >
            </app-pais-input>
        </div>
    </div>

    <ul class="list-group" 
        *ngIf="statusSugerencias"
    >
        <li *ngFor="let pais of paisesSugeridos"
        class="list-group-item list-group-item-action">            
            <a [routerLink]="['pais',pais.cca2]"
                class="nav-link"
            >
            {{ pais.name.common}}
            </a>
        </li>

        <li class="list-group-item list-group-item-action"
            *ngIf="termino.length>0"
            (click)="buscarSugerido(termino)"
        >            
            <a class="nav-link"

            >
            Buscar "{{ termino}}"
            </a>
        </li>
    </ul>
    
    <hr>
</div>

<div class="alert alert-danger" *ngIf="responseHttp">
    No se encontró el termino {{termino}}
</div>

<div class="row">
    <div class="col">
        <app-pais-tabla [countries]="countries"></app-pais-tabla>
    </div>
</div>